
// Variables Colors
$color-primary: #1a1a1a;
$color-secondary: #2f3441;
$color-title: #ffa533;
$color-status: #A21D0A;
$color-text: #7b7a7a;
$color-trailer: #538c24;
$color-slogan: #9f015e;
$color-red: #ff0000;
$color-option: #1e2129;
$color-black: #000;
$color-white: #fff;


// Variables Font-family
$font-primary: sans-serif;
$font-roboto: 'Roboto';
$font-hel: "Helvetica Neue";
$font-arial: 'Arial';
$font-noto: "Noto Sans";



// Variables Font-weight
$font-s: 400;
$font-m: 500;
$font-l: 700;


// Variables Font-size
$font-slogan: 40px;
$font-name: 32px;
$font-description: 12px;
$font-select: 13px;
$font-text: 15px;
$font-menu: 16px;
$font-title: 20px;


