.information-movie-site {
    margin-top: 40px;
    & > .container {
        padding: 20px;
    }

    .film-poster {
        padding: 0;
        position: relative;
        max-height: 370px;
        .film-poster-main {
            img {
                height: 370px;
                border-radius: 3px;
                @include tablet {
                    height: 355px;
                }
            }

        }
        .select-button-group {
            position: absolute;
            width: 100%;
            bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablet-s {
                bottom: 10px;
            }
            .select-episode-button {
                background-image: linear-gradient( 90deg ,#ff8a00 0,#ff5860 100%);
                border: none;
                padding: 15px;
                width: 110px;
                margin-right: 5px;
                cursor: pointer;
                color: $color-white;
                border-radius: 8px;
                font-size: $font-text;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-image: linear-gradient( 45deg ,#ff5860 0,#ff8a00 100%);
                }
                @include tablet {
                    font-size: $font-select;
                    width: 80px;
                }
                @include tablet-s {
                    font-size: $font-description;
                    width: 70px;
                    padding: 10px 0;
                }
            }
            .watch-button {
                margin-left: 5px;
                padding: 15px 13px;
                background-color: $color-red;
                border-radius: 8px;
                cursor: pointer;
                font-size: $font-text;
                transition: all 0.5s ease-in-out;
                color: $color-white;
                display: flex;
                align-items: center;
                &:hover {
                    opacity: 0.7;
                }
                @include tablet {
                    font-size: $font-select;
                    padding: 15px 10px;
                }
                @include tablet-s {
                    font-size: $font-description;
                    padding: 10px 6px;
                }
            }
        }
        .film-trailer {
            position: absolute;
            top: 6px;
            left: 8px;
            button {
                border: none;
                padding: 8px 18px;
                cursor: pointer;
                color: $color-white;
                background-color: $color-trailer;
                border-radius: 5px;
            }
        }
    }

    .film-detail {
        padding: 0;
        background-color: $color-option;
        padding: 12px;
        height: auto;
        .film-title {
            margin: 0;
            color: $color-title;
            font-size: $font-name;
            font-weight: $font-m;
        }
        p {
            padding: 8px 0;
            font-size: $font-text;
            color: $color-text;
            span {
                font-size: $font-text;
                padding-left: 8px;
                line-break: anywhere;
            }
        }
    }

    .content-film {
        margin-top: 70px;
        border: 1px solid $color-option;
        .container {
            padding: 0;
            padding-bottom: 30px;
             & > .section-title {
                padding: 12px;
                background-color: $color-secondary;
             }
        }

        .content-film-main {
            padding: 10px;
            p {
                font-size: $font-select;
                line-height: 1.5rem;
                color: $color-text;
            }
        }
    }
}