.introduce-web {
    margin-top: 30px;
    border: 1px solid $color-text;
    .container {
        padding: 20px 20px;
    }

    .introduce-title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        h3 {
            color: $color-title;
            position: relative;
            @include mobile {
                font-size: $font-select;
            }
            &:first-child {
                padding-right: 15px;
                @include mobile {
                padding-right: 8px;
                }
            }
            &:not(:first-child) {
                padding: 0 15px;
                @include mobile {
                    padding: 0 8px;
                }
            }
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background-color: $color-title;
            }
        }
    }

    .introduce-content {
        margin-top: 16px;
        p{
            line-height: 22px;
            font-size: $font-select;
            color: $color-text;
            @include mobile {
                font-size: $font-description;
            }
        }
    }
}