.top-movie {
    padding-top: 10px;
    @include mobile {
        padding-left: 12px;
    }
    .movie-item {
        margin-top: 20px;
        &.row {
            flex-wrap: nowrap;
        }
        &:hover {
            .movie-info {
                .name-vi {
                    color: $color-title;
                }
            }
        }
        .movie-img {
            position: relative;
            max-width: 90px;
            height: 116px;
            overflow: hidden;
            position: relative;
            &.col {
                padding: 0;
            }
            img {
                width: 90px;
            }
        }

        .movie-info {
            margin-left: 4px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include tablet-s {
                max-width: 150px;
            }
            h3 {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .name-vi {
                font-size: $font-text;
                font-family: $font-arial;
                font-weight: $font-m;
                color: $color-white;
                @include mobile {
                    font-size: $font-select;
                }
            }
            .name-eg {
                font-size: $font-select;
                font-family: $font-arial;
                font-weight: $font-m;
                color: $color-text;
                @include mobile {
                    font-size: $font-description;
                }
            }
            .seed {
                font-size: $font-select;
                font-family: $font-arial;
                font-weight: $font-m;
                color: $color-text;
                @include mobile {
                    font-size: $font-description;
                }
            }
        }

        .movie-status {
            position: absolute;
            top: 0;
            right: 0;
            span {
                padding: 3px 5px;
                background-color: $color-trailer;
                font-size: $font-select;
            }
        }
    }
    .section-title {
        & > .title {
            align-items: center;
        }
        .select-time {
            ul {
                li {
                    background-color: $color-option;
                    cursor: pointer;
                    &:not(:last-child) {
                        border-right: 1px solid $color-text;
                    }
                    button {
                        padding: 6px 8px;
                        color: $color-text;
                        font-size: $font-select;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        @include tablet-s {
                            font-size: $font-description;
                            padding: 2px 2px;
                        }
                        @include tablet {
                            font-size: $font-description;
                        }
                        @include mobile {
                            font-size: $font-description;
                            padding: 1px;
                        }

                    }
                }
                .active {
                    background: $color-secondary;
                    button {
                        color: $color-white;
                    }
                }
            }
        }
    }
}