.video-site {
    margin-top: 45px;
    margin-bottom: 50px;
    .form-video {
        iframe {
            width: 100%;
            max-height: 450px;
            @include mobile {
                max-height: 250px;
            }
        }
    }

    .info-movie-watching {
        margin: 20px 10px;
        row-gap: 0;
        .movie-title {
            display: flex;
            align-items: center;
            background-color: $color-secondary;
            padding: 0;
            width: 100%;
            .add-store {
                padding: 12px;
                svg {
                    fill: $color-text;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        fill : $color-white;
                    }
                }
            }
            .title-main {
                h3 {
                    color: $color-title;
                    font-weight: $font-m;
                    font-size: $font-info;
                    @include mobile {
                        font-size: 18px;
                    }
                }
                span {
                    display: inline-flex;
                    align-items: center;
                    font-size: $font-text;
                    color: $color-text;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    line-height: 20px;
                    @include mobile {
                        font-size: $font-select;
                    }
                    svg {
                        width: 18px;
                        height: 18px;
                        padding-left: 5px;
                        transition: all 0.3s ease-in-out;
                        fill: $color-text;
                    }
                    &:hover {
                        color: $color-title;
                        svg {
                            fill: $color-title;
                        }
                    }
                }
            }
        }

        .movie-content {
            border: 1px solid #49494940;
            padding: 10px;
            display: none;
            p {
                font-size: $font-select;
                color: $color-text;
                line-height: 1.5rem;
            }
        }

        .show {
            display: block;
        }
    }
}